{% extends 'base.html.twig' %}

{% block title %}{{ parent() }} | Edit{% endblock %}

{% block body %}
    {% if id is defined %}
        <h2>Editer cette Série</h2>
    {% else %}
        <h2>Créer une Nouvelle Série</h2>
    {% endif %}

    {{ form_start(form) }}

    {{ form_label(form) }}
    {{ form_errors(form) }}
    {{ form_widget(form) }}

    {{ form_end(form) }}
{% endblock %}