<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Series !{% endblock %}</title>
    <link rel="icon" href="{{ asset('build/img/icon.png') }}">
    {% block stylesheets %}
        {{ encore_entry_link_tags('app') }}
    {% endblock %}

    {% block javascripts %}
        {{ encore_entry_script_tags('app') }}
    {% endblock %}
</head>
<body>
<div class="container">
    <header>
        <a href="{{ path('home') }}">
            <img src="{{ asset("build/img/logo.svg") }}" alt="Series !">
        </a>
        <nav>
            <ul>
                <li><a href="{{ path("home") }}" title="Home">Home</a></li>
                <li><a href="{{ path("serie_list") }}" title="All series">Series</a></li>
                <li><a href="{{ path("serie_create") }}" title="Create a new serie">Create</a></li>
                <li><a href="{{ path("season_create") }}" title="Create a new season">Create season</a>
            </ul>
        </nav>
    </header>
    <main>
        {% for label, messages in app.flashes %}
            {% for message in messages %}
                <div class="alert alert-{{ label }}"> {{ message }} </div>
            {% endfor %}
        {% endfor %}
        {% block body %}{% endblock %}
    </main>

    <footer>

    </footer>
</div>
{% block extraStyles %} {% endblock %}
{% block extraJs %} {% endblock %}
</body>
</html>